*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1105px;
    margin: 0 auto;
}
header{
    background: #EEEFF1;
}
.header-top{
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu-item{
    margin-right: 42px;
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    text-transform: uppercase;

}
.menu-link:hover{
    color: #34547A;
    font-weight: 500;
}
.header-bottom{
    display: flex;
    align-items: center;
    margin-top:140px;
    justify-content: flex-end;
    padding-bottom: 146px;
}
.bottom-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 164.6%;
    color: #000000;
    padding-bottom: 40px;
}
.bottom-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 162.5%;
    color: #727272;
    max-width: 540px;
    padding-bottom: 60px;
}
button{
    border:none;
    background: #34547A;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 162.5%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 25px 41px;
}
.bottom-desc{
    margin-left: 131px;
}

